$heightSldBannerL: calc(100vh);
$heightSldBannerM: calc(100vh);
$heightSldBannerS: calc(100vh);
.banner {
   position: relative;
   background: $blackLight;
   height: $heightSldBannerL;
   min-height: 340px;
   @media (max-width: $max1280) {
      height: $heightSldBannerL;
   }
   @media (max-width: $max768) {
      height: $heightSldBannerS;
   }
   &__slider-wrapper {
      display: flex;
   }
   &__slide {
      position: relative;
      width: 100%;
   }
   &__slide-img {
      min-height: 340px;
      height: $heightSldBannerL;
      object-fit: cover;
      filter: brightness(80%);
      @media (max-width: $max1280) {
         height: $heightSldBannerM;
      }
      @media (max-width: $max768) {
         height: $heightSldBannerS;
      }
   }
   &__slide-title {
      position: absolute;
      bottom: 74px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 0 10px;
      color: $white;
   }

   &__title {
      font-size: 60px;
      line-height: 100%;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin-bottom: 30px;
      text-align: center;
      @media (max-width: $max768) {
         font-size: 28px;
      }
   }

   &__pagination {
      & .swiper-pagination-bullet {
         position: relative;
         width: 10px;
         height: 10px;
         background: none;
         &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: "";
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: $white;
         }
         &:hover,
         &:focus {
            opacity: 1;
         }
      }
      & .swiper-pagination-bullet-active {
         border: 1px solid $white;
      }
      &.swiper-pagination {
         bottom: 22px;
      }
   }
}

// .swiper-button-next,
// .swiper-button-prev {
//    width: 50px;
//    height: 50px;
//    border-radius: 50%;
//    background: white;
//    @media (max-width: $max768) {
//       width: 28px;
//       height: 28px;
//    }
//    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
//    &::before {
//       position: absolute;
//       content: "";
//       width: 22px;
//       height: 1px;
//       background: black;
//       border-radius: 1px;
//       // transform: translate(0, 50%);
//       @media (max-width: $max768) {
//          width: 12px;
//       }
//    }
//    &::after {
//       position: absolute;
//       content: "";
//       width: 12px;
//       height: 12px;
//       border-right: 1px solid black;
//       border-bottom: 1px solid black;
//       border-radius: 1px;
//       @media (max-width: $max768) {
//          width: 6px;
//          height: 6px;
//       }
//    }
//    &:hover,
//    &:focus {
//       transition: $transition;
//       background: $colorActiv;
//       &::before {
//          position: absolute;
//          content: "";
//          width: 22px;
//          height: 1px;
//          background: white;
//          border-radius: 1px;
//          @media (max-width: $max768) {
//             width: 12px;
//          }
//       }
//       &::after {
//          position: absolute;
//          content: "";
//          width: 12px;
//          height: 12px;
//          border-right: 1px solid white;
//          border-bottom: 1px solid white;
//          border-radius: 1px;
//          @media (max-width: $max768) {
//             width: 6px;
//             height: 6px;
//          }
//       }
//    }
// }
// .swiper-button-next {
//    &::after {
//       transform: translate(3px, 0px) rotate(-45deg);
//    }
// }
// .swiper-button-prev {
//    &::after {
//       transform: translate(-3px, 0px) rotate(135deg);
//    }
// }
